<div class="container-fluid">
  <div class="row">
    <h1 class="col-sm-6 col-sm-offset-3 text-center"> Hello World! </h1>
  </div>
  <img src="images/blue_eyes.jpg" class="img-responsive">
  <p id="test"></p>
</div>
