<div class="container-fluid">
  <div class="row">
    <h1 class="col-sm-4 col-sm-offset-4 text-center"> Hello World! </h1>
  </div>
  <div class="row">
    <img src="images/blue_eyes.jpg" class="col-sm-6 img-responsive">
    <i class="col-sm-6 fa fa-flag fa-5x"></i>
  </div>
  <p id="test"></p>
</div>
