@font-face {
  font-family: 'Las-Vegas';
  src: url('las-vegas-fabulous.woff2') format('woff2'),
       url('las-vegas-fabulous.woff') format('woff'),
       url('las-vegas-fabulous.ttf') format('truetype');
}

body {
  background-image: url('frank-sinatra-bkgd-min.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(0, 0, 0);
  background-attachment: fixed;
}

h1 {
  font-family: 'Las-Vegas', serif;
  font-size: 5em;
  display: table;
  background: white;
  color: blue;
}